*
{
    box-sizing: border-box;
}

:root
{
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

body
{
    background-color: var(--primary-color);
    margin: 0;
}

header
{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie
{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img
{
    width: 100%;
}

.movie-info
{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3
{
    margin-top: 0;
}

.movie-info span
{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green
{
    color: lightgreen;
}
.movie-info span.orange
{
    color: orange;
}
.movie-info span.red
{
    color: red;
}

.overview
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: 0.3s ease-in;
}
.movie:hover .overview
{
    transform: translateY(0);
}

#tag{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: #eee;
    padding: 10px 15px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag.highlight
{
    background-color: red;
}